mixin sFoundationBodies(data)
	// start sFoundationBodies
	+b.SECTION.sFoundationBodies.section#sFoundationBodies&attributes(attributes)
		.container
			mixin ddContent()
				+e.row.row
					.col-lg-6
						+img('img/sFoundationBodies-img-1.jpg').res-i
					.col-lg-6
						+e.text
							p тобы обеспечить защитников Родины всем необходимым, окружить их заботой и вниманием и помочь вернуться к привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и неравнодушие
							.small Менее важный текст для раскрытия заголовка более содержательный По результатам встречи планируется составление плана наиболее важных модулей и определение проектной группы по каждому модулю проект
				+e.team-row.row
					.col-lg-6: +teamItem('Константин Константинпольский', 'Должность', 'Менее важный текст для раскрытия заголовка более содержательный По результатам встречи планируется составление плана наиболее важных модулей и определение проектной группы по каждому модулю проект')
					.col-lg-6: +teamItem('Константин Константинпольский', 'Должность', 'Менее важный текст для раскрытия заголовка более содержательный По результатам встречи планируется составление плана наиболее важных модулей и определение проектной группы по каждому модулю проект', 'team-item-2.png')
					.col-lg-6: +teamItem('Константин Константинпольский', 'Должность', 'Менее важный текст для раскрытия заголовка более содержательный По результатам встречи планируется составление плана наиболее важных модулей и определение проектной группы по каждому модулю проект', 'team-item-3.png')
					.col-lg-6: +teamItem('Константин Константинпольский', 'Должность', 'Менее важный текст для раскрытия заголовка более содержательный По результатам встречи планируется составление плана наиболее важных модулей и определение проектной группы по каждому модулю проект', 'team-item-4.png')
				.mt-5.mb-5.text-center
					a.btn.btn-outline-primary(href="#") Показать всех
				+e.news
					.h5 Новости наблюдательного совета
					.row
						.col-sm-6.col-lg-3: +card-wrap2(4)
						.col-sm-6.col-lg-3: +card-wrap2(5)
						.col-sm-6.col-lg-3: +card-wrap2(6)
						.col-sm-6.col-lg-3: +card-wrap2(7)
					+e.news-btn.btn.btn-outline-primary(href="#") Показать все новости
			+ddGroup()
				+ddGroupItem('Наблюдательный совет фонда', 'Посмотреть документы', 'active')
					+ddContent()
				+ddGroupItem('Попечительский совет фонда', 'Посмотреть документы')
					+ddContent()
				+ddGroupItem('Правление фонда', 'Посмотреть документы')
					+ddContent()
				+ddGroupItem('Экспертный совет фонда', 'Посмотреть документы')
					+ddContent()
	// end sFoundationBodies