.footer {
		
	margin-top: auto;
--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	font-size: 14px;
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	background-color: $light;
	&__head{
		background-color: $secondary;
		color: #fff;
		padding-top: 40px;
		padding-bottom: 40px;
		a{

			border-bottom: 1px solid ;
		}
		.row{
			align-items: center;
		}
			h3{
				margin-bottom: 40px;
			}
			.h5{
				margin-bottom: 40px;

			}
			.btn{
				padding: 20px;
				width: 285px;
				--bs-btn-color:  #000000;
				--bs-btn-bg: #fff;
				--bs-btn-border-color: ##fff;
				box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
			}
	}

	@include media-breakpoint-down(sm) {
		text-align: center;
		.soc{
			justify-content: center;
		}
	}
	&__body{
		padding-top: 40px;
		@include media-breakpoint-up(lg) {

			padding-bottom: 20px;
		}
		position: relative;
		z-index: 2;
		.man{
			@extend .res-i;
			@include media-breakpoint-up(lg) {
				z-index: -1;

				@include a-cent(x);
				bottom: 0;
			}
		}

	}

	&__col{
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(xxl) {

			min-height: 320px;
		}
			@include media-breakpoint-up(lg){
				
				min-height: 362px;
			}
			padding-bottom: 47px;
			&.text-md-end{
			@include media-breakpoint-up(lg){
				align-items: flex-end;
			}
		}
	}
	&__caption{
		font-style: italic;
		font-weight: 300;
		opacity: 0.5;
		max-width: 233px;
		margin-top: 22px;
		line-height: 1.4;
	}
	&__spacer{
		flex-grow: 1;
		padding-bottom: 50px;
	}
	ul{
		columns: 2;
		list-style: none;
		a{
			display: inline-block;
			color: var(--bl, #000);
			margin-bottom: 14px;
		}
		ul{
			columns: 1;
			a{
				 color: var(--txt, #595D6C);
				 font-size: 12px;
				 margin-bottom: 12px;
				 margin-bottom: 6px;
			}
			li{
			}
		}
	}
	li{
		 
	}
	&__footer{
		border-top: 1px solid var(--Grey, #C6C6C6);
		padding-top: 40px;
		.row{
			align-items: center;
		}
	}
	// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}

.smallest{
	font-size: 11px;
}