mixin footer()
	+b.FOOTER.footer.section
		//- +e.head
		//- 	.container
		//- 		.row
		//- 			.col
		//- 				h3 Остались вопросы? 
		//- 				.h5 Задайте их нашим специалистам

		//- 				.small.mb-3 Отправляя форму, я соглашаюсь с 
		//- 					a(href="#").text-white Политикой обработки персональных данных
		//- 			.col-md-auto
		//- 				a.btn.btn-primary(href="#") Задать вопрос
		+e.body
			.container
				.row
					+e.col.col-md-4
						a(href="/")
							img(src="img/svg/logo.svg", alt="") 
						+e.caption Фонд помощи ветеранам СВОи семьям погибших бойцов
						+e.spacer
						.row

					+e.col.col
						ul
							li: a(href="#")  Меры поддержки
							li: a(href="#")  Медиа
							li: a(href="#")  Пресс-кит
							li: a(href="#")  Филиалы
							li: a(href="#")  Обращения граждан
							li: a(href="#")  Как помочь?
							li
								a(href="#")  О фонде
								ul
									li: a(href="#") Правовая информация
									li: a(href="#") Руководство Фонда
									li: a(href="#") Правление и советы Фонда
									li: a(href="#") Как помочь?
									li: a(href="#") Закупки
									li: a(href="#") Контакты
					+e.col.col-auto
						.h5
							a(href="mailto:info@gosfondveteranov.ru").text-secondary info@gosfondveteranov.ru
						.h5
							a(href="tel:88006589988").text-secondary 8 800 658 99 88
						+e.addr г. Москва, Пречистенский переулок, 9А
				+e.footer
					.row 
						.col-xl-auto.smallest © 2023. Все права защищены
						.col.smallest 
							a.text-secondary(href="#") Политика конфиденциальности  

						.col-auto
							+soc