:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.fancybox__content>.f-button.is-close-btn {
	width: rem(32);
	height: rem(32);
	top: 22px;
	right: 38px;
	opacity: 1;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='31' height='31' rx='3.5' stroke='%23936037'/%3E%3Cpath d='M11.7569 20.2426L20.2422 11.7573' stroke='%23936037'/%3E%3Cpath d='M11.7569 11.7574L20.2422 20.2427' stroke='%23936037'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='31' height='31' rx='3.5' stroke='%23936037'/%3E%3Cpath d='M11.7569 20.2426L20.2422 11.7573' stroke='%23936037'/%3E%3Cpath d='M11.7569 11.7574L20.2422 20.2427' stroke='%23936037'/%3E%3C/svg%3E%0A");
	}
	svg {
		display: none;
	}
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(769);
	// min-height: 100%; 
	padding: 40px;
	&__head{
		background: #FFF;
		padding: 24px 40px;
		background: var(--LightBG, #FDF1DB);
	}
	&__title{
			font-weight: bold;
			font-size: 20px;
	}
	.text-dark,
	p{
		font-size: 20px;
	}
	&__body{
		padding: 24px 40px;
	}
	.row{
		--bs-gutter-y: 1rem;
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	.custom-input-wrap {
		display: flex;
		padding: rem(3);
		border-radius: rem(8);
		border: 1px solid #EDEDED;
		background-color: rgba(237, 237, 237, 0.30);
		gap: rem(4);
		flex-direction: column;
		@include media-breakpoint-up(sm) {
			flex-direction: row;
		}
		.custom-input {
			position: relative;
			margin-bottom: 0;
			min-height: auto;
			padding-left: 0;
			&__input {
				@include mt;
				margin-left: 0;
				border-radius: rem(4);
				position: absolute;
				left: 0;
				top: 0;
				border: 1px solid transparent;
				width: 100%;
				height: 100%;
				margin-top: 0;
				background-image: none;
				background-color: transparent;
				&:checked, &:hover {
					border-color: #FBBB31;
					background-color: #FDF1DB;
				}
				&:focus {
					box-shadow: none;
				}
			}
			&__text {
				display: block;
				color: #000;
				text-align: center;
				font-size: rem(14);
				line-height: 1.4;
				padding: rem(13);
				width: 100%;
				position: relative;
				z-index: 1;
			}
		}
	}
	.form-wrap__text {
		color: var(--txt, #595D6C);
		font-size: rem(14);
		line-height: 1.4;
		opacity: 0.6;
	}
	&--appeal {
		width: rem(849);
		border-radius: rem(8);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 12px 36px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		.modal-win__head {
			@include media-breakpoint-down(md) {
				padding: rem(16);
			}
		}
		.modal-win__body {
			@include media-breakpoint-down(md) {
				padding: rem(16);
			}
		}
		.form-wrap__legal-col {
			display: none;
			&.active {
				display: block;
			}
		}
		.form-wrap .row {
			--bs-gutter-x: #{rem(16)};
		}
		.form-wrap__input-title {
			span {
				font-weight: 400;
			}
		}
		textarea {
			min-height: rem(156);
			resize: none;
			border-radius: rem(8) rem(8) 0 0;
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}