
mixin modal() 
	//  start modals
	div(id="modal-call"   style="display: none")
		+b.modal-win.p-0
			+e.head
				+e.title Стать партнером
			+e.body
				P Вы можете оставить свои данные и с Вами свяжутся наши специалисты, либо обратиться в Государственный фонд «Защитники Отечества»
				.row
					.col-sm-6
						.text-dark По телефону:
						p: a(href="tel:+7(495)230-01-54p312").text-body.strong +7 (495) 230-01-54 (доб. 312)
					.col-sm-6
						.text-dark По электронной почте:
						p: a(href="mailto:mail@gosfondveteranov.gov.ru").text-body.strong mail@gosfondveteranov.gov.ru
				p.text-center.text-body.strong Анкета партнера Государственного фонда «Защитники Отечества»
				+form-wrap
					.row
						.col-12
							+input("Название организации",'text','Название организации')(required)
						.col-12
							+input("Ваше имя",'text','Ваше имя') 
						.col-lg-6
							+input("+7 ___-___-__-__",'tel','Контактный телефон')
						.col-lg-6
							+input("example@mail.ru",'email','Электронная почта')
						.col-12
							+input("Опишите Ваше предложение",'textarea','Ваше предложение')
						.col-12.text-end 
							button.btn.btn-primary(type="submit"  )  Отправить анкету
	// #modal-call
	
	//  start modals
	div(id="modal-call2"  style="display: none" )
		+b.modal-win.p-0
			+e.head
				+e.title Своих не бросаем!
			+e.body
				+form-wrap
					.row
						.col-12
							+input("Оформить пожертвование он-лайни",'select')
						.col-12
							+input("Анонимно",'text','Благотворитель ФИО')
						.col-12
							+input("0,00 ₽",'text','Сумма пожертвования') 
						.col-12
							+e.input-wrap.form-group
								+e.SPAN.input-title Назначение платежа
								.gray-panel На организацию и оказание поддержки и помощи лицам, принимавшим участие в специальной военной операции
						.col-lg-12
							+input("example@mail.ru",'tel','E-mail для квитанции')
					
						.col-12
							+b.file-download(href="#" download).gray-panel
								.row
									.col-auto
										+icon('file')
									.col
										.small Публичная оферта
										.smallest 18.04.2023 / pdf 15 mb.
						.col-12
							.row.align-items-center
								.col-md
									+policy
								.col-auto.text-end 
									button.btn.btn-primary(type="submit"  ) Направить пожертвование
	// #modal-call

	//  start modals
	div(id="modal-call3"  style="display: none" )
		+b.modal-win--appeal.p-0
			+e.head
				+e.title Направить обращение
			+e.body
				+form-wrap
					.row
						.col-12
							+input("Алтайский край",'select', 'Субъект проживания')
						.col-12
							//- +input("Алтайский край",'select', 'Адресат (филиал)')
							.form-wrap__input-wrap.form-group
								label
									span.form-wrap__input-title
										| Адресат
										| 
										span (филиал)
									select.form-wrap__input.form-control(name='select' type='select' placeholder='')
										option(value='Алтайский край') Алтайский край
										option(value=' placeholder 1')  placeholder 1
										option(value=' placeholder 2')  placeholder 2
										option(value=' placeholder 3')  placeholder 3
										option(value=' placeholder 4')  placeholder 4
						.col-12
							.custom-input-wrap
								+in-c('radio', 'Физическое лицо', 'face')(checked)
								+in-c('radio', 'Юридическое лицо', 'face')(data-face='legal')
						+e.legal-col.col-12
							+input("",'text','Наименование организации')
						+e.legal-col.col-12
							+input("",'text','ИНН')
						+e.legal-col.col-12
							+input("",'text','Должность')
						.col-12
							+input("",'text','Фамилия')
						.col-md-6
							+input("",'text','Имя')
						.col-md-6
							.form-wrap__input-wrap.form-group
								label
									span.form-wrap__input-title
										| Отчество 
										| 
										span (при наличии)
									input.form-wrap__input.form-control(name='text' type='text' placeholder='')
						.col-12
							+input("+7 ___-___-__-__",'tel','Контактный телефон')
						.col-lg-6 
							+input("example@mail.ru",'email','Электронная почта')
						.col-lg-6 
							+input("example@mail.ru",'email','Подтвердите адрес электронной почты')
						.col-12 
							+input("",'text','Фактический адрес проживания')
						.col-12 
							+input("Опишите Ваше предложение",'textarea','Текст обращения')
							input(type="file" multiple ).filepond.filepond--js
						.col-12
							+e.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum eleifend velit, ornare mattis ex mattis a. Suspendisse euismod tortor sed ante pretium, quis volutpat augue euismod. Etiam consequat posuere blandit. Fusce eget dolor malesuada, tincidunt turpis at, tempor quam. Quisque non est ex. Nunc molestie erat dolor, non interdum diam varius vel. Vivamus tincidunt facilisis nunc, eu lacinia justo molestie non.
						.col-12
							.row.align-items-center
								.col-md
									+policy2()
								.col-auto.text-end 
									button.btn.btn-primary(type="submit") Направить обращение
	// #modal-call
	
	// end modals

	//  start modals
	div(id="modal-thanks"  style="display: none" )
		+b.modal-win--thanks
			+img('img/svg/alert-circle.svg')
			p Спасибо за&nbsp;ваше обращение, мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время!
			+e.btn.btn.btn-primary.modal-close-js(href='#') Закрыть

	//  start modals
	div(id="modal-thanks2"  style="display: none" )
		+b.modal-win--thanks
			+img('img/svg/alert-circle.svg')
			p Спасибо за ваше пожертвование!
			+e.btn.btn.btn-primary.modal-close-js(href='#') Закрыть