mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Государственный фонд «Защитники Отечества»
			p г. Москва, Пречистенский переулок, 9А
			p: a(href="tel:88006589988") 8 800 658 99 88
			p: a(href="mailto:info@gosfondveteranov.ru") info@gosfondveteranov.ru
			+soc
			+e.text Пример текста, который может быть размещен в&nbsp;этом месте. Объявления, уточнения или новости. Фонд помогает ветеранам СВО и&nbsp;членам семей погибших бойцов со&nbsp;всеми проблемами и&nbsp;запросами. Герои и&nbsp;их&nbsp;родные могут обратиться в&nbsp;филиал фонда в&nbsp;своем регионе. К&nbsp;любой ситуации&nbsp;&mdash; индивидуальный подход, отношение к&nbsp;каждому обратившемуся&nbsp;&mdash; с&nbsp;заботой и&nbsp;вниманием
			+e.row.row
				.col-auto
					a.btn.btn-primary(href="#") Направить обращение
				.col-auto
					a.btn.btn-outline-primary(href="#") Найти ближайшее отделение
	// end sContact