// start .sDocuments
.sDocuments {
	& + .sDocuments {
		
		--sPT: #{rem(20)};
	}
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	h2{
		margin-bottom: 1em;
	}
	&__item{

	}
	&__grid{
		display: grid;
		margin-bottom: 32px;
		// @include media-breakpoint-up(xl) { 
		// 	--count: 4
		// }
		// @include media-breakpoint-up(lg) {
		// 	--count: 3 
		// }
		// @include media-breakpoint-up(sm) {
		// 	--count: 2;
		// }
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
		gap:  10px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDocuments


.document-item{
	border-radius: var(--Corner_radius_default, 8px);
	background: var(--LightGrey, #EDEDED);
	padding: 1rem;
	color: $body-color;
	min-height: rem(153);
	font-size: 14px;
	.icon{
		fill: none;
		stroke: #936037;
		margin-bottom: 1rem;
		font-size: rem(24);
	}
	&__size{
		font-size: 12px;
		opacity: 0.5;
	}
}