mixin card-wrap2(num)
	
		+b.A.card-item(href="#")
			picture&attributes(attributes)
				img(class="object-fit-js" src=`img/news-${num}.jpg` alt="" loading="lazy") 
			+e.wrap
				p Фонд «Защитники Отечества» и Федеральная нотариальная палата заключили соглашение о предоставлении ветеранам СВО бесплатной юридической помощи
				+e.date 24 мая 2023


mixin sNews(t="Новости")
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			.section-title
				.row
					.col
						h2= t
					.col-auto
						+e.control-wrap
							+arrow()
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide: +card-wrap2('1')
						+e.slide.swiper-slide: +card-wrap2('2')
						+e.slide.swiper-slide: +card-wrap2('3')
				
	// end sNews