mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			h1 Фонд Защитники Отечества
			.row
				.col
					p Персональная помощь семьям погибших бойцов и&nbsp;ветеранам специальной военной операции
				.col-md-auto
					+e.btn(href="#").btn.btn-primary Спросить о помощи
	// end headerBlock