mixin sProcurement(data)
	// start sProcurement
	+b.SECTION.sProcurement.section#sProcurement&attributes(attributes)
		.container
			+b.section-title
				+e.links.row
					.col-auto
						a(href="#").active Актуальные закупки
					.col-auto
						a(href="#") Архив закупок
			+ddGroup()
				+ddGroupItem('Закупка передовых устройств для реабилитационных процедур', '', 'active')
					+e.tag Закупка активна
					.h5 Чтобы обеспечить защитников Родины всем необходимым, окружить их&nbsp;заботой и&nbsp;вниманием и&nbsp;помочь вернуться к&nbsp;привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и&nbsp;неравнодушие
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств пример длинного заголовка важный текст для раскрытия заголовка более содержательный
							+e.size 18.04.2023 / pdf 15 mb. 
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств
							+e.size 18.04.2023 / pdf 15 mb. 
				+ddGroupItem('Закупка батареек', '', '')
					+e.tag Закупка активна
					.h5 Чтобы обеспечить защитников Родины всем необходимым, окружить их&nbsp;заботой и&nbsp;вниманием и&nbsp;помочь вернуться к&nbsp;привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и&nbsp;неравнодушие
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств пример длинного заголовка важный текст для раскрытия заголовка более содержательный
							+e.size 18.04.2023 / pdf 15 mb. 
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств
							+e.size 18.04.2023 / pdf 15 mb. 
				+ddGroupItem('Закупка транспортных средств', '', '')
					+e.tag Закупка активна
					.h5 Чтобы обеспечить защитников Родины всем необходимым, окружить их&nbsp;заботой и&nbsp;вниманием и&nbsp;помочь вернуться к&nbsp;привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и&nbsp;неравнодушие
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств пример длинного заголовка важный текст для раскрытия заголовка более содержательный
							+e.size 18.04.2023 / pdf 15 mb. 
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств
							+e.size 18.04.2023 / pdf 15 mb. 
				+ddGroupItem('Закупка протезов', '', '')
					+e.tag Закупка активна
					.h5 Чтобы обеспечить защитников Родины всем необходимым, окружить их&nbsp;заботой и&nbsp;вниманием и&nbsp;помочь вернуться к&nbsp;привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и&nbsp;неравнодушие
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств пример длинного заголовка важный текст для раскрытия заголовка более содержательный
							+e.size 18.04.2023 / pdf 15 mb. 
					+b.document-item(href="#")
						+icon("file")
						div
							+e.title Перечень подходящих устройств
							+e.size 18.04.2023 / pdf 15 mb. 
	// end sProcurement