mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h3 Основной целью фонда является персональное социальное сопровождение ветеранов CBO и&nbsp;семей погибших.
			+e.row.row
				+e.col.col-xl-6.col-lg-5
					p Фонд оказывает содействие в&nbsp;получении всех полагающихся мер поддержки, включающих медицинскую и&nbsp;социальную реабилитацию, лекарственное обеспечение, психологическую помощь, технические средства реабилитации и&nbsp;санаторно-курортное лечение, а&nbsp;также переобучении и&nbsp;трудоустройстве ветеранов.

					+e.block
						+img("img/vector.svg")
						| С ветеранами СВО и семьями погибших бойцов в регионах работают социальные координаторы, прошедшие специальное обучение.
				.col
					+e.caption
						p &laquo;Предлагаю создать специальный государственный фонд. Его задачей станет адресная, персональная помощь семьям погибших бойцов и&nbsp;ветеранам специальной военной операции. Он&nbsp;будет координировать предоставление социальной, медицинской, психологической поддержки, решать вопросы санаторно-курортного лечения и&nbsp;реабилитации, помогать в&nbsp;образовании, спорте, трудоустройстве, предпринимательстве, в&nbsp;повышении квалификации, в&nbsp;получении новой профессии&raquo;.
						+e.footer-text  Президент Российской Федерации Владимир Путин 
							br
							| в&nbsp;Послании Федеральному Собранию 
							br
							| 21&nbsp;февраля 2023 года
						+img("img/rectangle_2.png")
	// end sAbout