mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title 
			+e.row.row
				+e.col.col-lg
					.section-title
						h2 Цели и задачи фонда
					p Фонд оказывает содействие в&nbsp;получении всех полагающихся мер поддержки, включающих медицинскую и&nbsp;социальную реабилитацию, лекарственное обеспечение, психологическую помощь, технические средства реабилитации и&nbsp;санаторно-курортное лечение, а&nbsp;также переобучении и&nbsp;трудоустройстве ветеранов.
					a.btn.btn-outline-primary(href="#") Узнать больше о фонде
				+e.col.col-lg-auto
					+e.block
						+img("img/vector.svg")
						| С ветеранами СВО и семьями погибших бойцов в регионах работают социальные координаторы, прошедшие специальное обучение.
				if block
					block
				else
					.col-12
						+e.caption
							.row
								.col
									p «Предлагаю создать специальный государственный фонд. Его задачей станет адресная, персональная помощь семьям погибших бойцов и ветеранам специальной военной операции. Он будет координировать предоставление социальной, медицинской, психологической поддержки, решать вопросы санаторно-курортного лечения и реабилитации, помогать в образовании, спорте, трудоустройстве, предпринимательстве, в повышении квалификации, в получении новой профессии».
									+e.footer-text  Президент Российской Федерации Владимир Путин 
										br
										| в&nbsp;Послании Федеральному Собранию 
										br
										| 21&nbsp;февраля 2023 года
								.col-img.col-lg-auto.order-lg-first
									img(src="img/rectangle_.png" alt="").res-i
	// end sAbout