extends ../layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	//- +topLine()
	main
		.section.container
			h1 Страница для  демонстрации модальных окон
			.row
				mixin btn(id, name)
					.col-auto.mb-2
						button.btn.btn-primary(data-src=id data-fancybox).btn-modal-js= name
				+btn("#modal-call", "Стать партнером")
				+btn("#modal-call2", "Направить пожертвование")
				+btn("#modal-call3", "Направить обращение")
	+footer