extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug  
include ../blocks/sLogos/_sLogos.pug 
include ../blocks/sYourHelp/_sYourHelp.pug 
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/footer/_footer.pug

include ../blocks/sFoundationBodies/_sFoundationBodies.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= null

block title
	- let  title= 'Органы фонда'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main
		+page-head("hide", 'Органы фонда', 'О фонде', 'Правление и советы Фонда')
		+b.head-caption--fund.section.container
			.row
				.col-xl.order-xl-last
					+img("img/head-img-11.jpg").res-i
				+e.text.col-xl-auto
					p Текст кратко описывающий раздел для наглядности отображения текстовой информации в&nbsp;несколько строк
					.small.mt-auto Менее важный текст для раскрытия заголовка более содержательный&nbsp;По результатам встречи планируется составление плана наиболее важных модулей и&nbsp;определение проектной группы по&nbsp;каждому модулю проект
		+sFoundationBodies
		//- +sLogos('Новости наблюдательного совета')
	+footer
      



