extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sPartners/_sPartners.pug 
include ../blocks/sYourHelp/_sYourHelp.pug 
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= null

block title
	- let  title= 'Как помочь'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main
		+page-head("hide", title, 'О фонде', 'Закупки')
		+b.head-caption.section.container
			.row
				.col-xl.order-xl-last
					+img("img/head-img-10.jpg").res-i
				+e.text.col-xl-auto
					p Государственный фонд «Защитники Отечества» – единственный государственный фонд, который объединяет бизнес-сообщество, общественные организации для помощи ветеранам СВО и членам семей погибших бойцов!

					div.mt-auto
						.small Всего фондом собрано:
						.h3.text-secondary.mb-0 68 659 000 руб.
		.section.container
			+b.panel-btns
				.row
					.col-lg
						p
							strong Участвуйте в&nbsp;благотворительности и&nbsp;помогайте защитникам возвращаться к&nbsp;мирной жизни
					.col-auto
						button.btn.btn-primary( data-src='#modal-call2' data-fancybox).btn-modal-js Отправить пожертвование
					.col-auto
						button.btn.btn-outline-primary( data-src='#modal-call' data-fancybox).btn-modal-js Стать партнером
		+sPartners()
		+sYourHelp
	+footer
      



