extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sPartners/_sPartners.pug 
include ../blocks/sSearch/_sSearch.pug 
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= null

block title
	- let  title= 'Результаты поискаи'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main
		+page-head("hide", title,title)
		.container.section
			+b.search-list
				- for (var x = 0; x < 8; x++)
					+e.item(href="#")
						+e.title  Результат поиска
						p Есть над чем задуматься: независимые государства и по сей день остаются уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Задача организации, в особенности же высокотехнологичная концепция общественного уклада в значительной степени обусловливает важность первоочередных требований.
			+b.epmty-search-result
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
						<g opacity="0.4">
							<path d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" stroke="#936037" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M24 16V24" stroke="#936037" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M24 32H24.02" stroke="#936037" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</g>
					</svg>
					+e.title Нет результатов
					p Попробуйте другой запрос
	+footer
      



