extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sQoute/_sQoute.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main
		+headerBlockUpadte 
		+sAbout
		+sDirections
		//- +sQoute
		+sNews
		//- +sTeam
	+footer
      



