mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			p Татьяна Лотоцкая, заместитель председателя фонда «Защитники Отечества» по социальному блоку, в рамках рабочей поездки в Приморский край посетила Центр восстановительной медицины и реабилитации Дальневосточного федерального университета, где встретилась с одним из подопечных фонда.
			+img("img/content.jpg")
			p Павел получил тяжелое ранение, у него поврежден позвоночник. На данный момент он проходит курс реабилитации по направлению фонда. Защитник Отечества за боевые заслуги награжден Орденом Мужества и медалью «За отвагу». В скором времени Павлу предстоит еще одна операция. Несмотря на это ветеран СВО активно участвует в деятельности филиала, он постоянный участник мероприятий по патриотическому воспитанию молодежи и различных творческих проектов фонда.
			p Олег Пак, главный врач Центра, провел экскурсию по медучреждению и рассказал о взаимодействии с филиалом фонда «Защитники Отечества» в Приморском крае в рамках реализации программ реабилитации ветеранов СВО.В филиале фонда во Владивостоке Татьяна Лотоцкая совместно с Еленой Бронниковой, председателем межведомственной комиссии, заместителем председателя Правительства Приморского края и руководителем филиала Натальей Кокоревой обсудили с социальными координаторами региона вопросы взаимодействия в части вопросов реабилитации ветеранов СВО. 
			p Татьяна Лотоцкая ответила на вопросы коллег по оформлению и приему документов удостоверений ветерана боевых действий бойцам ЧВК «Вагнер», адаптации помещений для инвалидов, по обучению и трудоустройству ветеранов СВО и членов их семей.
			.share-line.row.mt-3
				.col-auto
					.date-artical 24 мая 2023
				.col-auto Поделиться
				.col-auto
					+soc()

	// end sContent