mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+img("img/news-1.jpg")
				.col-lg-6
					p Одной из важнейших задач на сегодняшний день является поддержка участников специальной военной операции на всех уровнях, включая правовую сферу. 23 мая Федеральная нотариальная палата и Государственный фонд «Защитники Отечества» заключили соглашение о сотрудничестве с целью развития методов и масштабов оказания помощи участникам СВО и их семьям. Документ предусматривает ряд таких направлений деятельности, как правовое информирование ветеранов по нотариальным вопросам, создание дополнительных условий для компетентной, квалифицированной и бесплатной юридической помощи участникам СВО и членам их семей и т.д.
					p Президент Федеральной нотариальной палаты Константин Корсик напомнил, что для нотариусов всей страны помощь вынужденным переселенцам и участникам специальной военной операции является особо важным направлением. «Сразу после начала СВО нотариат ввел меры поддержки для беженцев, а с началом мобилизации была запущена система льгот для тех, кто отправлялся на фронт. В феврале текущего года введены дополнительные меры поддержки для участников специальной военной операции и их родных», — сказал глава ФНП. Кроме того, организовывалась работа «дежурных нотариальных контор», в ряде регионов было организовано выездное обслуживание в пунктах сбора, учебных центрах и так далее.
					p К настоящему моменту нотариат предоставил для беженцев и участников СВО льготы при совершении необходимых нотариальных действий на общую сумму более 320 млн рублей. Как и все остальные социально значимые проекты, инициатива с предоставлением льгот реализуется исключительно за счет средств нотариата, без привлечения бюджетных денег.
					p Основной целью фонда «Защитники Отечества» является персональное социальное сопровождение ветеранов СВО и содействие в получении всех полагающихся мер поддержки, включающей медицинскую и социальную реабилитацию, лекарственное обеспечение, психологическую помощь, технические средства реабилитации и санаторно-курортное лечение. Также фонд будет заниматься содействием в переобучении и трудоустройстве ветеранов.
	// end sContent