mixin sQoute(data)
	// start sQoute
	+b.sQoute#sQoute&attributes(attributes)
		+e.inner.section
			.container
				p &laquo;Чтобы обеспечить защитников Родины всем необходимым, окружить их&nbsp;заботой и&nbsp;вниманием и&nbsp;помочь вернуться к&nbsp;привычной жизни, социальным координаторам необходимы такие личные качества, как вовлеченность и&nbsp;неравнодушие. Справедливость, забота и&nbsp;уважение к&nbsp;героям&raquo;.

				.small Председатель фонда 
					br
					| Анна Цивилева
				+img("img/rectangle436.png")

	// end sQoute