mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js&attributes(attributes)
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	mixin contact()
		.row.d-lg-flex.d-block
			.col-xl
				a.link-dark(href="tel:88006588899").strong 8 800 658 88 99
			.col-xl-auto
				a(href="#").strong.link-secondary Написать нам
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				+e.col.col-auto
					+b.toggle-menu-mobile--js.btn.btn-light
						span
					+b.menu-mobile--js
						ul
							li: a(href="#") Главная 
							li: a(href="#") Меры поддержки
							li
								a(href="#") О фонде
								ul
									li: a(href="#") Документы Фонда  
									li: a(href="#") Руководство Фонда
									li: a(href="#") Органы Фонда 
									li: a(href="#") Контакты
									li: a(href="#") Закупки
									li: a(href="#") Как помочь?
							li
								a(href="#") Медиа
								ul
									li: a(href="#") Новости 
									li: a(href="#") Мультимедиа
									li: a(href="#") Пресс-кит
							li: a(href="#") Филиалы
							li
								a(href="#") Обращения граждан
								ul
									li: a(href="#") Часто задаваемые вопросы 
									li: a(href="#") Направить обращение
				.col-lg-auto.col
					a(href="/")
						img(src="img/svg/logo.svg", alt="").res-i 
				.col-lg-auto.order-lg-0.order-last.d-none.d-lg-block
					+mnu()
				.col-lg.order-lg-0.order-first
					+search()
				.col-auto
					button.btn.btn-light(type="button")
						+icon("glasses")
	// end top-nav