 
	  
.soc{
	@include roww(10px, 0,m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		padding: 0;
		width: 32px;
		height: 32px;
		@extend .btn ,.btn-secondary;
		place-items: center;
		// background: #936037;
		border-radius: 12.8px;
		color: #fff;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(14);
		&-ok{

			font-size: rem(18);
		}
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		// border: none !important;
		border-radius: var(--Corner_radius_default, 8px);
		border: 1px solid var(--LightGrey, #EDEDED);
		outline: none !important;
		padding-left: rem(45);
		padding-top: rem(14);
		padding-bottom: rem(14);
		font-size: 12px;
		height: 48px;
		&::placeholder{
			color: var(--Grey, #C6C6C6);
		}
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		padding-left: 12px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
		.icon{
			fill: none;
			stroke: currentColor;
			font-size: 24px;
		}
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
	&::before{
		position: relative;
		top: -2px;
	}
}

.dd-group {
	&__item {
		border: 1px solid var(--Stroke, #D8D8D8);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&.active{
			--rotate:0;
		}
	}
	&__head {
		position: relative;
		padding: rem(16);
		cursor: pointer;
		font-size: rem(18);
		line-height: 1;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			padding: rem(33) rem(32) rem(33) rem(32);
			font-size: rem(24);
		}
		a {
			margin-left: rem(24);
			text-decoration: underline;
			font-size: rem(14);
			line-height: 1.4;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}
	&__content {
		display: none;
		padding: rem(16);
		@include media-breakpoint-up(lg) {
			padding: rem(32);
		}
		&.active {
			display: block;
		}
	}
	&__icon{
		flex: 0 0 auto;
		width: 2rem;
		height: 2rem;
		border: 1px solid $secondary;
		position: relative;
		// right: 2rem;
		// top: 2rem;
		border-radius: 4px;
		margin-left: auto;
		&::before,
		&::after{
			content: '';
			position: absolute;
			width: 12px;
			height: 1.2px;
			top: 50%;
			left: 50%;
			translate: -50%;
			background-color: $secondary;
		}
		&::after{
			@include mt;
			rotate: var(--rotate, 90deg);
		}
	}
	&__row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(12)};

		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		height: 100%;
		p {
			font-size: rem(16);
			@include media-breakpoint-up(lg) {
				font-size: rem(18);
			}
		}
		.small {
			margin-top: auto;
			color: #595D6C;
			max-width: rem(323);
			@include media-breakpoint-up(lg) {
				font-size: rem(14);
			}
		}
	}
	&__team-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(12)};
		.team-item__img-wrap {
			@include media-breakpoint-up(lg)  {
				transform: translateX(rem(34));
			}
		}
	}
	&__news {
		.h5 {
			color: var(--txt, #595D6C);
			font-size: rem(18);
			line-height: 1.4;
			margin-bottom: rem(30);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
				margin-bottom: rem(40);
			}
		}
		&-btn {
			margin-top: rem(20);
			max-width: max-content;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.card-item {
			flex-direction: column;
			picture {
				@include media-breakpoint-down(md) {
					width: 100%;
					flex: none;
				}
			}
		}
	}
}