mixin sYourHelp(data)
	// start sYourHelp
	+b.SECTION.sYourHelp.section#sYourHelp&attributes(attributes)
		.container
			+b.section-title
				h2 Ваша помощь
				
			+e.row
				+e.title Ваша помощь и поддержка —ежедневная забота и внимание, которое мы бережно передаем нашим подопечным!
				mixin item(i,t)
					+e.item
						+img(`img/help-icon-${i}.svg`)
						+e.text!= t
				+item(`1`,`Зубное протезирование после челюстно-лицевого ранения - около 600 000 рублей`)
				+item(`2`,`Приобретение протеза «Протез предплечья с микропроцессорным управлением» - около 2,5 млн рублей`)
				+item(`3`,`Ежедневная помощь, при паллиативном уходе`)
				+item(`4`,`Дополнительное санаторно-курортное лечение при медицинских показаниях - около 150 000 рублей`)

	// end sYourHelp