// start .sSearch
.sSearch {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	.search-block{
		input {
			height: 56px;
		}
	}
	ul{
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
		// grid-template-rows: repeat(auto-fill, minmax(50%, 1fr) );
		a{
			min-height: 148px;
		}
		a{
			display: block;
			padding: 40px;
			font-size: 24px;color: #000;
			border-radius: var(--Corner_radius_default, 8px);
			background: linear-gradient(270deg, #FDF1DB 6.71%, #F4F4F4 99.91%);
			height: 100%;
			text-wrap: balance;
			line-height: 1.4;
			&:hover{
				translate: 0 -10px;
			}
		}
		&.column-2{
			grid-template-columns: repeat(auto-fill, minmax(600px, 1fr) ) ;
			a{
				min-height: 182px;
			}
		}
		gap:  20px;
		display: grid;
		list-style: none;
	}

	&__text{
		max-width: 340px;
	}
	h2{
		margin-bottom: 1em;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSearch