mixin sDirections(data)
	// start sDirections
	+b.SECTION.sDirections.section#sDirections&attributes(attributes)
		.container
			+b.section-title
				h2 Направления деятельности фонда
				h5 Фонд обеспечивает комплексное сопровождение ветеранов СВО и членов семей погибших (умерших) ветеранов в целях предоставления мер поддержки, оказанию социальных и иных услуг, помощи по принципу «одного окна»
			+e.row.row
				mixin item(i,t,p,  cl="col-xl-4 col-lg-6")
					div(class= cl)
						+e.item
							img(src=`img/direction-item-${i}.svg`, alt="")
							+e.title!= t
							p!= p
				+item(1,`Медицинская  <br> реабилитация`,`фонд содействует в получении нуждающимися ветеранами СВО услуг по медицинской реабилитации, в том числе с привлечением региональной сети социально-реабилитационных центров`)
				+item(2,`Психолого-психотерапевтическая помощь`,`фонд участвует в оказании нуждающимся ветеранам СВО и членам семей погибших (умерших) ветеранов психолого-психотерапевтической помощи`)
				+item(3,`Плановая и срочная госпитализация`,`фонд сотрудничает с госпиталями и иными медицинскими организациями в интересах ветеранов СВО`)
				+item(4,`Паллиативная медицинская помощь`,`фонд содействует в получении нуждающимися ветеранами СВО паллиативной медицинской помощи`)

				+item(5,`Санаторно-курортное лечение`,`фонд оказывает содействие в обеспечении санаторно-курортного лечения нуждающихся в нем ветеранов СВО`)
				+item(6, `Организация системы долговременного ухода`,`фонд содействует в предоставлении надомного (долговременного) ухода нуждающимся в постоянной посторонней помощи ветеранам СВО`)
				
				 
				+item(7, `Социальная адаптация и&nbsp;ресоциализация`,`фонд участвует в&nbsp;разработке и&nbsp;реализации программ социальной адаптации и&nbsp;ресоциализации ветеранов СВО`)
				+item(8, `Юридическая <br> помощь`,` фонд оказывает бесплатную юридическую помощь нуждающимся ветеранам СВО, членам семей погибших (умерших) ветеранов по вопросам оформления и предоставления мер социальной поддержки`)
				+item(9,`Социальная <br> поддержка`,`фонд содействует в получении ветеранами СВО, членами семей погибших (умерших) ветеранов установленных законодательством Российской Федерации мер социальной поддержки`)
				+item(10,`Восстановление и оформление документов`,`фонд содействует в&nbsp;оформлении (восстановлении) документов и&nbsp;получении участниками СВО статуса ветерана боевых действий в&nbsp;соответствии с&nbsp;федеральным законодательством`)

				+item(11, `Патриотическое воспитание население`,`фонд организует просветительскую деятельность в&nbsp;сфере патриотического воспитания, в&nbsp;том числе молодежи направленную на&nbsp;прославление подвигов участников специальной военной операции и&nbsp;иных лиц`)

				+item(12, `Увековечивание памяти ветеранов СВО`,`фонд организует мероприятия по увековечению памяти ветеранов СВО и их подвигов`)
				+item(13, `Спорт, паралимпийское  движение, культурно-досуговая деятельность`,`фонд организует спортивные мероприятия с участием ветеранов, а также фонд содействует вовлечению ветеранов с инвалидностью в паралимпийское движение`)
				+item(14,`Историко-культурное просвещение`,` фонд оказывает поддержку в посещении ветеранами учреждений культуры, приобщению их к историко-культурному наследию страны`)
				+item(15,'Интеграция ветеранов СВО  в систему Патриотическое воспитание граждан России',`фонд разрабатывает и реализует программы интеграции ветеранов СВО в систему патриотического воспитания граждан России и наставничество`)
				+item(16,`Обеспечение техническими средствами реабилитации`,'фонд формирует перечень и закупает для нуждающихся ветеранов СВО технические средства реабилитации, не входящие в федеральный перечень реабилитационных мероприятий, технических средств реабилитации и услуг, предоставляемых инвалиду, включая высокофункциональные протезы и протезно-ортопедические изделия' ,'col-12')
	// end sDirections