// start .sDirections
.sDirections {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

			min-height: 100%;
			padding-top: rem(33);
			padding-bottom: rem(23);
			border-top: 1px solid #D8D8D8;
			p{
				opacity: 0.5;
				max-width: 520px;
			}
	}

	&__title{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 1rem;
		max-width: 600px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDirections