mixin sDirections(data)
	// start sDirections
	+b.SECTION.sDirections.section#sDirections&attributes(attributes)
		.container
			+b.section-title
				h2 Направления деятельности фонда
				h3 Фонд обеспечивает комплексное сопровождение ветеранов СВО и&nbsp;членов семей погибших (умерших) ветеранов в&nbsp;целях предоставления мер поддержки, оказанию социальных и&nbsp;иных услуг, помощи по&nbsp;принципу &laquo;одного окна&raquo;
			+e.row.row
				mixin item(t,p)
					.col-lg-6
						+e.item
							+e.title!= t
							p!= p
				+item(`Медицинская реабилитация`,`фонд содействует в&nbsp;получении нуждающимися ветеранами СВО услуг по&nbsp;медицинской реабилитации, в&nbsp;том числе с&nbsp;привлечением региональной сети социально-реабилитационных центров`)
				+item(`Психолого-психотерапевтическая помощь`,`фонд участвует в&nbsp;оказании нуждающимся ветеранам СВО и&nbsp;членам семей погибших (умерших) ветеранов психолого-психотерапевтической помощи`)
				+item(`Госпитализация`,`фонд сотрудничает с&nbsp;госпиталями и&nbsp;иными медицинскими организациями в&nbsp;интересах ветеранов СВО`)
				+item(`Паллиативная медицинская помощь`,`фонд содействует в&nbsp;получении нуждающимися ветеранами СВО паллиативной медицинской помощи`)
				+item(`Санаторно-курортное лечение`,`фонд оказывает содействие в&nbsp;обеспечении санаторно-курортного лечения нуждающихся в&nbsp;нем ветеранов СВО`)
				+item(`Обеспечение техническими средствами реабилитации`,`фонд формирует перечень и&nbsp;закупает для нуждающихся ветеранов СВО технические средства реабилитации, не&nbsp;входящие в&nbsp;федеральный перечень реабилитационных мероприятий, технических средств реабилитации и&nbsp;услуг, предоставляемых инвалиду, включая высокофункциональные протезы и&nbsp;протезно-ортопедические изделия`)
				+item(`Организация системы долговременного ухода`,`фонд содействует в&nbsp;предоставлении надомного (долговременного) ухода нуждающимся в&nbsp;постоянной посторонней помощи ветеранам СВО`)
				+item(`Социальная адаптация и&nbsp;ресоциализация`,`фонд участвует в&nbsp;разработке и&nbsp;реализации программ социальной адаптации и&nbsp;ресоциализации ветеранов СВО`)
				+item(`Юридическая помощь`,`фонд оказывает бесплатную юридическую помощь нуждающимся ветеранам СВО, членам семей погибших (умерших) ветеранов по&nbsp;вопросам оформления и&nbsp;предоставления мер социальной поддержки`)
				+item(`Социальная поддержка`,`фонд содействует в&nbsp;получении ветеранами СВО, членами семей погибших (умерших) ветеранов установленных законодательством Российской Федерации мер социальной поддержки`)
				+item(`Восстановление и оформление документов`,`фонд содействует в&nbsp;оформлении (восстановлении) документов и&nbsp;получении участниками СВО статуса ветерана боевых действий в&nbsp;соответствии с&nbsp;федеральным законодательством`)
				+item(`Патриотическое воспитание население`,`фонд организует просветительскую деятельность в&nbsp;сфере патриотического воспитания, в&nbsp;том числе молодежи направленную на&nbsp;прославление подвигов участников специальной военной операции и&nbsp;иных лиц`)
				+item(`Увековечивание памяти ветеранов СВО`,`фонд организует мероприятия по&nbsp;увековечению памяти ветеранов СВО и&nbsp;их&nbsp;подвигов`)
				+item(`Спорт, паралимпийское движение, культурно-досуговая деятельность`,`фонд организует спортивные мероприятия с&nbsp;участием ветеранов, а&nbsp;также фонд содействует вовлечению ветеранов с&nbsp;инвалидностью в&nbsp;паралимпийское движение`)
				+item(`Историко-культурное просвещение`,`фонд оказывает поддержку в&nbsp;посещении ветеранами учреждений культуры, приобщению их&nbsp;к&nbsp;историко-культурному наследию страны`)
				+item(`Интеграция ветеранов СВО в&nbsp;систему Патриотическое воспитание граждан России`,`фонд разрабатывает и&nbsp;реализует программы интеграции ветеранов СВО в&nbsp;систему патриотического воспитания граждан России и&nbsp;наставничество`)
	// end sDirections