mixin sAppeals(data)
	// start sAppeals
	+b.SECTION.sAppeals.section#sAppeals&attributes(attributes)
		.container
			+b.section-title
				+e.links.row
					.col-auto
						a(href="#").active Часто задаваемые вопросы
					.col-auto
						a(href="#" data-src='#modal-call3' data-fancybox) Направить обращение
					.col-auto
						a(href="#") Статус обращения
			+ddGroup()
				+ddGroupItem('Восстановление документов', '', 'active')
					+e.question
						.h5 Как восстановить утерянные документы?
						p Для восстановления документов нужно обратиться в военкомат или по месту прописки
				+ddGroupItem('Обеспечение техническими средствами реабилитации', '', '')
					+e.question
						.h5 Как восстановить утерянные документы?
						p Для восстановления документов нужно обратиться в военкомат или по месту прописки
				+ddGroupItem('Вопрос №3', '', '')
					+e.question
						.h5 Как восстановить утерянные документы?
						p Для восстановления документов нужно обратиться в военкомат или по месту прописки
				+ddGroupItem('Вопрос №4', '', '')
					+e.question
						.h5 Как восстановить утерянные документы?
						p Для восстановления документов нужно обратиться в военкомат или по месту прописки
	// end sAppeals