mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					h2 Руководство фонда
				.col-lg-6
					+e.img-wrap
						+e.caption
							+e.name Анна <br> Цивилева
							+e.prof Председатель фонда
						+img('img/team.jpg')
	// end sTeam